{

	// @required
	//	where the source excel file located
	"source" : "test/test.xls",

	// @optional
	// parameters used with "-createSchema"
	"schema" :
	{
		// @optional
		// where create schemas in a heuristics way, note: this will take longer time
		//	because I'll go through all data to find suitable data
		"heuristics" : true,

		// @optional
		// default data type, if heuristics way failed or heuristics is false
		"defaultType" : "varchar(255)"
	},

	// @required
	// parameters used with "-export"
	"export" :
	{
		// @required
		// where the destination sql file will be saved
		"dest" : "test/test.sql",

		// @optional
		// parameters which will guide me to export data
		"sheets" :
		[
			{
				// @required
				// name of sheet
				"sheet" : "sheet1",

				// @optional
				// whether this sheet will be exported
				"export" : true,

				// @optional
				// destination table's name
				"table" : "table1",

				// @optional
				// column that will be used in primary key
				"primary" : "col1",

				// @optional
				// whether I should drop detination table first and recreate it
				"drop" : true,

				// @optional
				//	map of source column and detination field
				//	key should be the first row's cell label
				"field_maps" : 
				{
					"col1" : "field11",
					"col2" : "field12"
				}
			},

			{
				"sheet" : "sheet2",
				"export" : true,
				"table" : "table1",

				// @optional
				//	name of detination field
				//	note: first row will be treated as data also
				"field_names" : 
				[
					"field21",
					"field22"
				]
			},

			{
				"sheet" : "sheet3",
				"export" : true
			},

			{
				"sheet" : "sheet4",
				"export" : false
			}
		],

		// parameter used to connecto to db
		"database" :
		{
			"jdbc_host" : "localhost",
			"jdbc_user" : "root",
			"jdbc_password" : "password"
		}
	}
}
